/* text */

/* menus and small text */
body {
  font-family: Arial, sans-serif;
}

/* headers and big text */
#big {
  margin-left: 50px;
  font-family: Verdana, sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* gradient */
#grad {
  background: rgb(164,255,79);
  background: linear-gradient(rgba(164,255,79,1) 0%, rgba(85,153,85,1) 45%, rgba(85,153,85,1) 100%);
  margin-bottom: 0px
}

/* background */

#back1 {
  background-color: #222244;
  margin: 0px
}

#back2 {
  background-color: #ffffff;
  margin: 0px
}

#back3 {
  background-color: #449999;
  margin: 0px
}