/* a minimalist set of CSS resets */

/* default to border-box */

body {
  font-family: Arial, sans-serif;
}

#big {
  margin: 1.5;
  font-family: Verdana, sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}
