/* text */

/* menus and small text */
body {
  font-family: Arial, sans-serif;
}

/* headers and big text */
#big {
  margin-left: 50px;
  font-family: Verdana, sans-serif;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

/* a */
#grad1 {
  background-image: linear-gradient(lightgreen, #559955);
}

#grad2 {
  background-color: #559955;
}